In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import re
import time
import pandas as pd

## Data Acquisition
www.baseball-reference.com only allows 20 requests per minute. If we violate this rule, our session will be locked out for one hour.

### Web Crawling and Scraping - World Series Winners and Runners Up

In [2]:
main_url = 'https://www.baseball-reference.com'
world_series_url = 'https://www.baseball-reference.com/postseason/world-series.shtml'
ws_url_page = requests.get(world_series_url)
ws_soup = BeautifulSoup(ws_url_page.content)

In [3]:
table = ws_soup.find_all('table', {'id': 'world_series_winners_al_nl'})

world_series_winner_links = []
world_series_ru_links = []
world_series_winner = []
world_series_ru = []
years1 = [f'200{str(i)}' for i in range(0,10)]
years2 = [f'201{str(i)}' for i in range(0,10)]
years3 = [f'202{str(i)}' for i in range(0,3)]
years4 = years1 + years2 + years3
years = [years4[-1-i] for i in range(len(years4))]

for t in table:
    td = t.find_all('td')
    for team in td:
        winner = team.find('strong')
        check1 = team.get('data-stat')
        if winner == None:
            if (check1 == 'al_winner') or (check1 == 'nl_winner'):
                try:
                    ru_href = team.find('a')['href']
                    world_series_ru_links.append(str(ru_href))
                    ru_string = str(ru_href)
                    world_series_ru.append(ru_string[7:10])
                    if ru_string[11:15] == '2000':
                        break
                except:
                    pass
        else:
            try:
                winner_href = winner.find('a')['href']
                world_series_winner_links.append(str(winner_href))
                winner_string = str(winner_href)
                world_series_winner.append(winner_string[7:10])
            except:
                pass

In [4]:
print(len(world_series_ru))
print(len(world_series_winner))
print(world_series_winner)
print(world_series_ru)
print(len(years))
print(years)

temp1 = ['PHI', 'TBD', 'DET', 'DET', 'ARI', 'KCR','KCR','TBD','WSN','PIT','PIT','MIN','HOU','HOU','ARI','PHI','MIN','DET','KCR','DET','PIT','BAL','OAK']
temp2 = ['CHC', 'PIT', 'TBD', 'TBD', 'KCR', 'PIT','TBD','PIT','SEA','WSN','SEA','HOU','CHC','MIA','COL','CIN','CIN','SFG','BAL','BAL','TEX','ARI','WSN']
worst_teams1 = [temp1[-1-i] for i in range(len(temp1))]
worst_teams2 = [temp2[-1-i] for i in range(len(temp2))]
mid_teams1 =   ['CHW','PHI','HOU','CHC','WSN','TBR','NYY','CLE','MIL','NYY','MIL','WSN','OAK','TBR','LAD','TOR','CIN','MIL','CHW','STL','PHI','BOS','ANA']
mid_teams2 =   ['SFG','CLE','SFG','PHI','ARI','TEX','KCR','BAL','NYM','ARI','ARI','CLE','DET','CHC','ARI','LAD','TEX','WSN','FLA','ARI','FLA','NYM','COL']
print(worst_teams1)
print(worst_teams2)
print(mid_teams1)
print(mid_teams2)

23
23
['HOU', 'ATL', 'LAD', 'WSN', 'BOS', 'HOU', 'CHC', 'KCR', 'SFG', 'BOS', 'SFG', 'STL', 'SFG', 'NYY', 'PHI', 'BOS', 'STL', 'CHW', 'BOS', 'FLA', 'ANA', 'ARI', 'NYY']
['PHI', 'HOU', 'TBR', 'HOU', 'LAD', 'LAD', 'CLE', 'NYM', 'KCR', 'STL', 'DET', 'TEX', 'TEX', 'PHI', 'TBR', 'COL', 'DET', 'HOU', 'STL', 'NYY', 'SFG', 'NYY', 'NYM']
23
['2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000']
['OAK', 'BAL', 'PIT', 'DET', 'KCR', 'DET', 'MIN', 'PHI', 'ARI', 'HOU', 'HOU', 'MIN', 'PIT', 'PIT', 'WSN', 'TBD', 'KCR', 'KCR', 'ARI', 'DET', 'DET', 'TBD', 'PHI']
['WSN', 'ARI', 'TEX', 'BAL', 'BAL', 'SFG', 'CIN', 'CIN', 'COL', 'MIA', 'CHC', 'HOU', 'SEA', 'WSN', 'SEA', 'PIT', 'TBD', 'PIT', 'KCR', 'TBD', 'TBD', 'PIT', 'CHC']
['CHW', 'PHI', 'HOU', 'CHC', 'WSN', 'TBR', 'NYY', 'CLE', 'MIL', 'NYY', 'MIL', 'WSN', 'OAK', 'TBR', 'LAD', 'TOR', 'CIN', 'MIL', 'CHW', 'STL', 'PHI', 'BOS', 'ANA']
['SFG', 'CLE', 'SFG', 'PHI', 'ARI', 'TEX', 'KCR', 'BAL', 'NYM', 'ARI', 'ARI', 'CLE', 'DET', 'CHC', 'ARI', 'LAD', 'TEX', 'WSN', 'FLA', 'ARI', 'FLA', 'NYM', 'COL']

In [5]:
# get the links to team game logs
win_team_bat_game_logs_links = [f'/teams/tgl.cgi?team={world_series_winner[i]}&t=b&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
win_team_pitch_game_logs_links = [f'/teams/tgl.cgi?team={world_series_winner[i]}&t=p&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
ru_team_bat_game_logs_links = [f'/teams/tgl.cgi?team={world_series_ru[i]}&t=b&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
ru_team_pitch_game_logs_links = [f'/teams/tgl.cgi?team={world_series_ru[i]}&t=p&year={years[i]}' for i in range(len(years)) if years[i] !='2020']

mid_team1_bat_links = [f'/teams/tgl.cgi?team={mid_teams1[i]}&t=b&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
mid_team1_pitch_links = [f'/teams/tgl.cgi?team={mid_teams1[i]}&t=p&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
mid_team2_bat_links = [f'/teams/tgl.cgi?team={mid_teams2[i]}&t=b&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
mid_team2_pitch_links = [f'/teams/tgl.cgi?team={mid_teams2[i]}&t=p&year={years[i]}' for i in range(len(years)) if years[i] !='2020']

worst_team1_bat_links = [f'/teams/tgl.cgi?team={worst_teams1[i]}&t=b&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
worst_team1_pitch_links = [f'/teams/tgl.cgi?team={worst_teams1[i]}&t=p&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
worst_team2_bat_links = [f'/teams/tgl.cgi?team={worst_teams2[i]}&t=b&year={years[i]}' for i in range(len(years)) if years[i] !='2020']
worst_team2_pitch_links = [f'/teams/tgl.cgi?team={worst_teams2[i]}&t=p&year={years[i]}' for i in range(len(years)) if years[i] !='2020']


win_team_batting_dataframes = []
win_team_pitching_dataframes = []
ru_team_batting_dataframes = []
ru_team_pitching_dataframes = []

mid_team1_batting_df = []
mid_team1_pitching_df = []
mid_team2_batting_df = []
mid_team2_pitching_df = []

worst_team1_batting_df = []
worst_team1_pitching_df = []
worst_team2_batting_df = []
worst_team2_pitching_df = []

counter = 0
for i in range(len(years)-1):

    win_team_batting_dataframes.append(pd.read_html(f'{main_url}{win_team_bat_game_logs_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    win_team_pitching_dataframes.append(pd.read_html(f'{main_url}{win_team_pitch_game_logs_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)  
    ru_team_batting_dataframes.append(pd.read_html(f'{main_url}{ru_team_bat_game_logs_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    ru_team_pitching_dataframes.append(pd.read_html(f'{main_url}{ru_team_pitch_game_logs_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
        
    mid_team1_batting_df.append(pd.read_html(f'{main_url}{mid_team1_bat_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    mid_team1_pitching_df.append(pd.read_html(f'{main_url}{mid_team1_pitch_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    mid_team2_batting_df.append(pd.read_html(f'{main_url}{mid_team2_bat_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    mid_team2_pitching_df.append(pd.read_html(f'{main_url}{mid_team2_pitch_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    
    worst_team1_batting_df.append(pd.read_html(f'{main_url}{worst_team1_bat_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    worst_team1_pitching_df.append(pd.read_html(f'{main_url}{worst_team1_pitch_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    worst_team2_batting_df.append(pd.read_html(f'{main_url}{worst_team2_bat_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)
    worst_team2_pitching_df.append(pd.read_html(f'{main_url}{worst_team2_pitch_links[i]}'))
    counter += 1
    if counter%19 == 0:
        time.sleep(61)

In [6]:
print(len(win_team_batting_dataframes))
win_team_batting_dataframes[0][0][0:25]

22

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,PA,AB,R,H,...,SB,CS,BA,OBP,SLG,OPS,LOB,#,Thr,Opp. Starter (GmeSc)
0,1,1,Apr 7,@,LAA,"W,3-1",38,35,3,8,...,1,0,.229,.289,.514,.804,8,9,R,S.Ohtani(60)
1,2,2,Apr 8,@,LAA,"W,13-6",43,40,13,14,...,1,0,.293,.346,.707,1.052,3,12,L,R.Detmers(49)
2,3,3,Apr 9,@,LAA,"L,0-2",32,29,0,2,...,1,0,.231,.292,.529,.821,5,10,R,N.Syndergaard(63)
3,4,4,Apr 10,@,LAA,"W,4-1",39,34,4,7,...,0,0,.225,.296,.457,.753,8,9,L,J.Suarez(49)
4,5,5,Apr 12,@,ARI,"W,2-1",39,34,2,8,...,0,1,.227,.304,.442,.746,10,9,L,M.Bumgarner(53)
5,6,6,Apr 13,@,ARI,"L,2-3",40,34,2,6,...,1,0,.218,.294,.398,.692,9,11,R,M.Kelly(66)
6,7,7,Apr 15,@,SEA,"L,1-11",32,31,1,5,...,0,0,.211,.281,.371,.653,4,10,L,M.Gonzales(71)
7,8,8,Apr 16,@,SEA,"W,4-0",38,34,4,8,...,0,0,.214,.282,.380,.662,7,9,R,C.Flexen(52)
8,9,9,Apr 17,@,SEA,"L,2-7",35,27,2,4,...,0,1,.208,.289,.372,.661,6,9,R,M.Brash(55)
9,10,10,Apr 18,NaN,LAA,"W,8-3",40,32,8,9,...,0,0,.215,.301,.385,.686,8,10,R,M.Lorenzen(36)
10,11,11,Apr 19,NaN,LAA,"L,2-7",37,33,2,6,...,0,1,.212,.297,.380,.677,8,10,L,P.Sandoval(55)
11,12,12,Apr 20,NaN,LAA,"L,0-6",29,28,0,1,...,0,0,.199,.282,.355,.637,2,9,R,S.Ohtani(81)
12,13,13,Apr 22,NaN,TOR,"L,3-4",36,34,3,7,...,0,0,.200,.279,.346,.625,6,12,R,R.Stripling(41)
13,14,14,Apr 23,NaN,TOR,"L,2-3",35,34,2,8,...,0,0,.203,.278,.344,.622,6,10,R,A.Manoah(55)
14,15,15,Apr 24,NaN,TOR,"W,8-7",44,38,8,11,...,0,0,.209,.285,.362,.647,9,10,L,Y.Kikuchi(42)
15,16,16,Apr 25,@,TEX,"L,2-6",38,35,2,8,...,2,0,.211,.285,.361,.646,9,9,R,D.Dunning(55)
16,17,17,Apr 26,@,TEX,"W,5-1",36,32,5,6,...,0,2,.209,.285,.358,.643,4,9,L,T.Hearn(44)
17,18,18,Apr 27,@,TEX,"W,4-3",38,34,4,7,...,0,0,.209,.285,.356,.641,7,10,R,G.Otto(50)
18,19,19,Apr 28,@,TEX,"W,3-2",32,30,3,3,...,0,0,.204,.279,.350,.630,2,10,L,M.Pérez(73)
19,20,20,Apr 29,@,TOR,"W,11-7",48,38,11,14,...,0,0,.213,.291,.372,.663,10,9,L,Y.Kikuchi(35)
20,21,21,Apr 30,@,TOR,"L,1-2",39,36,1,8,...,0,0,.214,.290,.370,.661,11,11,R,J.Berríos(54)
21,May,May,May,NaN,Opp,Rslt,PA,AB,R,H,...,SB,CS,BA,OBP,SLG,OPS,LOB,#,Thr,Opp. Starter (GmeSc)
22,22,22,May 1,@,TOR,"L,2-3",35,35,2,8,...,2,0,.214,.288,.369,.657,6,10,R,K.Gausman(67)
23,23,23,May 2,NaN,SEA,"W,3-0",34,32,3,8,...,0,0,.216,.288,.376,.664,7,9,L,M.Gonzales(44)
24,24,24,May 3,NaN,SEA,"W,4-0",34,28,4,5,...,1,0,.215,.289,.376,.666,6,9,R,C.Flexen(58)

In [7]:
win_team_pitching_dataframes[21][1][0:25]

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,2B,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec)
0,1,1,Apr 3,@,ANA,"W,3-2",9.0,10,2,2,...,1,0,0,0,0,0,0,3,Tim McClelland,"O.Hernandez (99-58-W), J.Nelson (99-H), M.Rive..."
1,2,2,Apr 4,@,ANA,"W,5-3",9.0,10,3,0,...,0,0,0,0,0,1,2,4,Terry Craft,"R.Clemens (99-54), M.Stanton (99), R.Mendoza (..."
2,3,3,Apr 5,@,ANA,"L,6-12",8.0,12,12,12,...,4,0,0,0,2,0,0,4,Paul Schrieber,"D.Cone (99-14-L), A.Watson (99), T.Erdos (99),..."
3,4,4,Apr 7,@,SEA,"L,5-7",8.0,12,7,7,...,2,0,1,0,1,0,0,3,Tony Randazzo,"A.Pettitte (99-35-L), R.Mendoza (2), M.Stanton..."
4,5,5,Apr 8,@,SEA,"W,3-2",9.0,5,2,2,...,1,0,1,1,0,2,1,5,Ed Montague,"O.Hernandez (4-68), J.Grimsley (2), M.Stanton ..."
5,6,6,Apr 9,@,SEA,"L,3-9",8.0,9,9,3,...,2,0,0,1,1,1,1,3,Jerry Layne,"R.Clemens (4-43-L), T.Erdos (3), A.Watson (3)"
6,7,7,Apr 12,NaN,TEX,"W,8-6",9.0,10,6,5,...,2,0,0,1,0,1,3,5,Tim Timmons,"D.Cone (6-34), J.Grimsley (3-BSv), M.Stanton (..."
7,8,8,Apr 13,NaN,TEX,"W,5-1",9.0,4,1,0,...,1,0,0,0,0,2,1,2,Brian Gorman,"O.Hernandez (4-76-W), M.Stanton (0)"
8,9,9,Apr 14,NaN,KCR,"W,7-5",9.0,9,5,5,...,2,0,0,0,0,1,1,3,Charlie Williams,"R.Clemens (4-37-W), J.Nelson (1-H), M.Rivera (..."
9,10,10,Apr 15,NaN,KCR,"W,7-1",9.0,2,1,1,...,1,0,0,0,0,0,0,3,John Hirschbeck,"R.Mendoza (7-71-W), D.Einertson (99), A.Watson..."
10,11,11,Apr 16,NaN,KCR,"W,8-4",9.0,9,4,4,...,1,0,0,0,0,0,1,4,Mark Wegner,"J.Grimsley (3-47), D.Einertson (0-H), J.Nelson..."
11,12,12,Apr 17,@,TEX,"W,5-4",11.0,11,4,4,...,2,0,0,3,0,0,2,6,Jeff Kellogg,"D.Cone (4-59), J.Nelson (0), M.Stanton (0), M...."
12,13,13,Apr 18,@,TEX,"W,6-3",9.0,8,3,3,...,2,0,0,0,1,0,0,1,Eric Cooper,O.Hernandez (4-63-W)
13,14,14,Apr 19,@,TEX,"W,5-4",10.0,7,4,4,...,3,0,0,1,0,0,1,3,Laz Diaz,"R.Clemens (4-64), J.Nelson (1-H), M.Rivera (1-BW)"
14,15,15,Apr 21,@,TOR,"L,3-8",8.0,12,8,8,...,4,1,0,0,1,0,1,5,Bill Miller,"R.Mendoza (5-25-L), T.Erdos (3), M.Stanton (3)..."
15,16,16,Apr 22,@,TOR,"L,2-8",8.0,10,8,7,...,2,0,0,0,0,1,1,4,Brian Runge,"D.Cone (4-15-L), J.Grimsley (5), A.Watson (0),..."
16,17,17,Apr 23,@,TOR,"W,10-7",9.0,8,7,7,...,1,0,0,0,0,2,0,4,Richard Shulock,"O.Hernandez (4-37-W), M.Stanton (1-H), J.Nelso..."
17,18,18,Apr 24,NaN,MIN,"L,3-7",9.0,6,7,6,...,3,0,0,0,2,1,0,3,Andy Fletcher,"R.Clemens (4-49-L), M.Stanton (0), J.Nelson (0)"
18,19,19,Apr 25,NaN,MIN,"L,1-6",9.0,10,6,6,...,1,0,0,0,0,0,0,3,Dan Morrison,"R.Mendoza (3-33-L), J.Grimsley (2), E.Yarnall ..."
19,20,20,Apr 26,NaN,MIN,"W,2-0",9.0,5,0,0,...,0,0,0,0,0,1,2,4,Jim McKean,"A.Pettitte (18-64), J.Nelson (1-W), M.Stanton ..."
20,21,21,Apr 28,NaN,TOR,"W,6-0",9.0,3,0,0,...,0,0,0,0,0,1,1,3,Jim Joyce,"D.Cone (5-74-W), J.Nelson (1), M.Stanton (1)"
21,22,22,Apr 29,NaN,TOR,"L,2-6",9.0,14,6,5,...,3,0,0,1,2,0,0,4,Rich Rieker,"O.Hernandez (5-42-L), M.Stanton (0), J.Grimsle..."
22,23,23,Apr 30,NaN,TOR,"W,7-1",9.0,9,1,1,...,1,0,0,0,0,0,1,3,Paul Emmel,"R.Clemens (5-65-W), J.Nelson (1), M.Stanton (0)"
23,May,May,May,NaN,Opp,Rslt,IP,H,R,ER,...,2B,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec)
24,24,24,May 1,@,CLE,"W,2-1",9.0,7,1,1,...,1,0,0,1,0,0,0,4,Phil Cuzzi,"R.Mendoza (5-61-W), M.Stanton (0-H), J.Nelson ..."

### Data Cleaning

In [8]:
for i in range(len(win_team_batting_dataframes)):
    for j in range(len(win_team_batting_dataframes[i][0]["Rk"])):
        try:
            win_team_batting_dataframes[i][0]['Rk'][j] = pd.to_numeric(win_team_batting_dataframes[i][0]['Rk'][j])
            win_team_pitching_dataframes[i][1]['Rk'][j] = pd.to_numeric(win_team_pitching_dataframes[i][1]['Rk'][j])
        except:
            win_team_batting_dataframes[i][0] = win_team_batting_dataframes[i][0].drop([j])
            win_team_pitching_dataframes[i][1] = win_team_pitching_dataframes[i][1].drop([j])
    for k in range(len(ru_team_batting_dataframes[i][0]["Rk"])):
        try:
            ru_team_batting_dataframes[i][0]["Rk"][k] = pd.to_numeric(ru_team_batting_dataframes[i][0]["Rk"][k])
            ru_team_pitching_dataframes[i][1]["Rk"][k] = pd.to_numeric(ru_team_pitching_dataframes[i][1]["Rk"][k])
        except:
            ru_team_batting_dataframes[i][0] = ru_team_batting_dataframes[i][0].drop([k])   
            ru_team_pitching_dataframes[i][1] = ru_team_pitching_dataframes[i][1].drop([k])
            
    for m in range(len(mid_team1_batting_df[i][0]["Rk"])):
        try:
            mid_team1_batting_df[i][0]["Rk"][m] = pd.to_numeric(mid_team1_batting_df[i][0]["Rk"][m])
            mid_team1_pitching_df[i][1]["Rk"][m] = pd.to_numeric(mid_team1_pitching_df[i][1]["Rk"][m])
        except:
            mid_team1_batting_df[i][0] = mid_team1_batting_df[i][0].drop([m])   
            mid_team1_pitching_df[i][1] = mid_team1_pitching_df[i][1].drop([m])
            
    for n in range(len(mid_team2_batting_df[i][0]["Rk"])):
        try:
            mid_team2_batting_df[i][0]["Rk"][n] = pd.to_numeric(mid_team2_batting_df[i][0]["Rk"][n])
            mid_team2_pitching_df[i][1]["Rk"][n] = pd.to_numeric(mid_team2_pitching_df[i][1]["Rk"][n])
        except:
            mid_team2_batting_df[i][0] = mid_team2_batting_df[i][0].drop([n])   
            mid_team2_pitching_df[i][1] = mid_team2_pitching_df[i][1].drop([n])
            
    for r in range(len(worst_team1_batting_df[i][0]["Rk"])):
        try:
            worst_team1_batting_df[i][0]["Rk"][r] = pd.to_numeric(worst_team1_batting_df[i][0]["Rk"][r])
            worst_team1_pitching_df[i][1]["Rk"][r] = pd.to_numeric(worst_team1_pitching_df[i][1]["Rk"][r])
        except:
            worst_team1_batting_df[i][0] = worst_team1_batting_df[i][0].drop([r])   
            worst_team1_pitching_df[i][1] = worst_team1_pitching_df[i][1].drop([r])
            
    for s in range(len(worst_team2_batting_df[i][0]["Rk"])):
        try:
            worst_team2_batting_df[i][0]["Rk"][s] = pd.to_numeric(worst_team2_batting_df[i][0]["Rk"][s])
            worst_team2_pitching_df[i][1]["Rk"][s] = pd.to_numeric(worst_team2_pitching_df[i][1]["Rk"][s])
        except:
            worst_team2_batting_df[i][0] = worst_team2_batting_df[i][0].drop([s])   
            worst_team2_pitching_df[i][1] = worst_team2_pitching_df[i][1].drop([s])
            
    win_team_batting_dataframes[i][0] = win_team_batting_dataframes[i][0].reset_index()
    win_team_pitching_dataframes[i][1] = win_team_pitching_dataframes[i][1].reset_index()
    ru_team_batting_dataframes[i][0] = ru_team_batting_dataframes[i][0].reset_index()
    ru_team_pitching_dataframes[i][1] = ru_team_pitching_dataframes[i][1].reset_index()
    
    mid_team1_batting_df[i][0] = mid_team1_batting_df[i][0].reset_index()
    mid_team1_pitching_df[i][1] = mid_team1_pitching_df[i][1].reset_index()
    mid_team2_batting_df[i][0] = mid_team2_batting_df[i][0].reset_index()
    mid_team2_pitching_df[i][1] = mid_team2_pitching_df[i][1].reset_index()
    
    worst_team1_batting_df[i][0] = worst_team1_batting_df[i][0].reset_index()
    worst_team1_pitching_df[i][1] = worst_team1_pitching_df[i][1].reset_index()
    worst_team2_batting_df[i][0] = worst_team2_batting_df[i][0].reset_index()
    worst_team2_pitching_df[i][1] = worst_team2_pitching_df[i][1].reset_index()

In [12]:
print(len(win_team_batting_dataframes))
mid_team1_pitching_df[0][1][0:50]

22

,index,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,...,2B,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec)
0,0,1,1,Apr 8,@,DET,"L,4-5",8.2,8,5,...,1,1,0,0,0,0,0,6,Marvin Hudson,"L.Giolito (99-64), B.Sousa (99), K.Crick (99-H..."
1,1,2,2,Apr 9,@,DET,"W,5-2",9.0,7,2,...,1,0,0,0,0,0,3,5,Adrian Johnson,"D.Cease (99-64-W), R.López (99), B.Sousa (0-H)..."
2,2,3,3,Apr 10,@,DET,"W,10-1",9.0,2,1,...,0,1,0,0,0,0,0,5,John Tumpane,"M.Kopech (99-55), K.Crick (1-W), M.Foster (99)..."
3,3,4,4,Apr 12,NaN,SEA,"W,3-2",9.0,7,2,...,1,0,0,0,0,0,0,6,Phil Cuzzi,"V.Velasquez (99-53), B.Sousa (2), R.López (2-W..."
4,4,5,5,Apr 13,NaN,SEA,"W,6-4",9.0,8,4,...,2,0,0,0,0,0,0,5,Cory Blaser,"D.Keuchel (99-48-W), K.Crick (2-H), J.Ruiz (3-..."
5,5,6,6,Apr 14,NaN,SEA,"L,1-5",9.0,7,5,...,1,0,0,0,0,2,0,6,Mark Ripperger,"J.Lambert (99-47-L), T.Banks (3), M.Foster (3)..."
6,6,7,7,Apr 15,NaN,TBR,"W,3-2",9.0,6,2,...,2,0,0,0,0,0,0,4,David Rackley,"D.Cease (5-65-W), A.Bummer (2-H), K.Graveman (..."
7,7,8,8,Apr 16,NaN,TBR,"W,3-2",9.0,5,2,...,1,0,1,0,1,0,0,5,Junior Valentine,"M.Kopech (5-66), R.López (3-BW), J.Ruiz (1-H),..."
8,8,9,9,Apr 17,NaN,TBR,"L,3-9",9.0,12,9,...,4,0,0,0,0,0,0,5,Larry Vanover,"V.Velasquez (4-42-L), T.Banks (2), M.Foster (2..."
9,9,10,10,Apr 20(1),@,CLE,"L,1-11",8.0,11,11,...,0,0,0,0,0,3,1,4,NaN,"D.Keuchel (6--2-L), T.Banks (2), M.Foster (2),..."
10,10,11,11,Apr 20(2),@,CLE,"L,1-2",8.0,6,2,...,3,0,0,0,0,0,0,6,NaN,"J.Lambert (5-46-L), R.López (3), B.Sousa (3), ..."
11,11,12,12,Apr 21,@,CLE,"L,3-6",8.0,13,6,...,3,0,0,1,2,1,1,4,Chad Fairchild,"D.Cease (5-37-L), B.Sousa (0), K.Graveman (5),..."
12,12,13,13,Apr 22,@,MIN,"L,1-2",8.0,5,2,...,2,0,0,0,0,0,1,4,Bill Welke,"M.Kopech (5-67), J.Ruiz (1-H), A.Bummer (1-H),..."
13,13,14,14,Apr 23,@,MIN,"L,2-9",8.0,14,9,...,2,0,0,0,0,0,0,5,Gabe Morales,"V.Velasquez (5-29-L), B.Sousa (1), K.Crick (2)..."
14,14,15,15,Apr 24,@,MIN,"L,4-6",9.1,9,6,...,0,0,0,0,1,0,0,6,Chris Segal,"L.Giolito (15-56), T.Banks (3), R.López (3-H),..."
15,15,16,16,Apr 26,NaN,KCR,"L,0-6",9.0,6,6,...,1,0,0,0,1,1,2,5,Nick Mahrley,"D.Keuchel (5-51-L), R.López (1), K.Crick (2), ..."
16,16,17,17,Apr 27,NaN,KCR,"W,7-3",9.0,4,3,...,0,0,1,0,1,0,0,4,Rob Drake,"D.Cease (5-64), J.Ruiz (4-H), B.Sousa (3-BW), ..."
17,17,18,18,Apr 28,NaN,KCR,"L,2-5",10.0,6,5,...,1,0,0,0,1,0,1,5,Will Little,"M.Kopech (5-52), T.Banks (3), J.Ruiz (0), A.Bu..."
18,18,19,19,Apr 29,NaN,LAA,"L,1-5",9.0,13,5,...,6,0,1,0,0,0,1,5,David Rackley,"L.Giolito (4-52-L), M.Foster (0), B.Sousa (1),..."
19,19,20,20,Apr 30,NaN,LAA,"W,4-0",9.0,6,0,...,0,0,0,0,0,0,1,5,Larry Vanover,"V.Velasquez (6-67-W), T.Banks (1), A.Bummer (1..."
20,21,21,21,May 1,NaN,LAA,"L,5-6",9.0,8,6,...,2,0,1,0,1,1,3,5,Dan Bellino,"D.Keuchel (4-35-L), R.Burr (1), J.Ruiz (2), T...."
21,22,22,22,May 2,NaN,LAA,"W,3-0",9.0,2,0,...,1,0,0,0,0,0,0,3,Sean Barber,"D.Cease (4-86-W), K.Graveman (1-H), L.Hendriks..."
22,23,23,23,May 3,@,CHC,"W,3-1",9.0,6,1,...,1,0,0,0,0,1,1,6,Roberto Ortiz,"M.Kopech (4-57), R.López (6-W), J.Ruiz (1-H), ..."
23,24,24,24,May 4,@,CHC,"W,4-3",9.0,5,3,...,0,0,0,0,0,0,0,6,Junior Valentine,"L.Giolito (4-59-W), R.López (0-H), K.Graveman ..."
24,25,25,25,May 6,@,BOS,"W,4-2",9.0,6,2,...,2,1,0,0,0,0,1,5,Chris Conroy,"V.Velasquez (5-57-W), M.Foster (1-H), A.Bummer..."
25,26,26,26,May 7,@,BOS,"W,3-1",10.0,7,1,...,2,0,0,0,0,0,0,5,Carlos Torres,"D.Cease (4-60), B.Sousa (7), J.Ruiz (3), R.Lóp..."
26,27,27,27,May 8,@,BOS,"W,3-2",9.0,9,2,...,2,0,0,0,0,0,1,5,Ron Kulpa,"D.Keuchel (6-52-W), R.Burr (6-H), M.Foster (1-..."
27,28,28,28,May 9,NaN,CLE,"L,9-12",11.0,12,12,...,2,0,0,0,0,2,0,7,Charlie Ramos,"M.Kopech (5-71), J.Kelly (99-H), M.Foster (0),..."
28,29,29,29,May 10,NaN,CLE,"W,4-1",9.0,7,1,...,0,0,0,0,0,0,1,4,Hunter Wendelstedt,"L.Giolito (5-65-W), J.Ruiz (1-H), B.Sousa (1-H..."
29,30,30,30,May 12,NaN,NYY,"L,7-15",9.0,15,15,...,2,1,0,0,1,0,1,5,Chris Guccione,"D.Cease (4-35), J.Ruiz (1), R.Burr (2), J.Kell..."
30,31,31,31,May 13,NaN,NYY,"L,4-10",9.0,14,10,...,2,0,0,0,1,0,0,4,Mark Carlson,"V.Velasquez (6-24-L), B.Sousa (2), R.López (3)..."
31,32,32,32,May 14,NaN,NYY,"W,3-2",9.0,9,2,...,1,0,0,0,1,0,2,4,Jordan Baker,"D.Keuchel (5-59), K.Graveman (3-H), J.Kelly (1..."
32,33,33,33,May 15,NaN,NYY,"L,1-5",9.0,2,5,...,0,0,0,0,0,0,0,4,Adam Beck,"M.Kopech (5-57-L), R.Burr (2), R.López (1), J...."
33,34,34,34,May 16,@,KCR,"W,5-3",10.0,6,3,...,2,0,0,0,0,0,2,5,Shane Livensparger,"J.Cueto (99-73), M.Foster (2-H), K.Graveman (1..."
34,35,35,35,May 17(1),@,KCR,"W,3-0",9.0,9,0,...,3,0,0,0,0,0,0,5,Ramon De Jesus,"D.Cease (4-62-W), B.Sousa (3-H), J.Kelly (2-H)..."
35,36,36,36,May 17(2),@,KCR,"L,1-2",8.0,8,2,...,3,0,0,0,0,0,0,3,Lance Barrett,"D.Martin (99-59-L), T.Banks (4), K.Crick (20)"
36,37,37,37,May 18,@,KCR,"L,2-6",8.0,12,6,...,1,1,0,0,1,1,1,3,Junior Valentine,"L.Giolito (7-50), R.López (2-L), R.Burr (1)"
37,38,38,38,May 19,@,KCR,"W,7-4",9.0,11,4,...,3,0,0,0,0,0,1,5,Alfonso Márquez,"V.Velasquez (5-41), B.Sousa (1-W), J.Kelly (1-..."
38,39,39,39,May 21,@,NYY,"L,5-7",8.0,8,7,...,0,0,1,0,1,0,1,5,Nick Mahrley,"D.Keuchel (6-23-L), R.López (2), J.Ruiz (3), M..."
39,40,40,40,May 22(1),@,NYY,"W,3-1",9.0,8,1,...,1,0,1,0,0,0,0,4,Will Little,"J.Cueto (5-63), J.Kelly (2-H), K.Graveman (0-B..."
40,41,41,41,May 22(2),@,NYY,"W,5-0",9.0,3,0,...,2,0,0,0,0,0,0,3,Greg Gibson,"M.Kopech (6-79-W), M.Foster (0), R.López (0)"
41,42,42,42,May 24,NaN,BOS,"L,3-16",9.0,19,16,...,5,0,0,0,1,0,0,6,Alan Porter,"D.Cease (6-17-L), J.Ruiz (2), B.Sousa (4), M.F..."
42,43,43,43,May 25,NaN,BOS,"W,3-1",9.0,7,1,...,0,0,0,0,0,0,1,5,Ryan Wills,"L.Giolito (6-61-W), A.Bummer (0-H), K.Graveman..."
43,44,44,44,May 26,NaN,BOS,"L,7-16",9.0,19,16,...,4,0,0,0,0,1,1,7,Todd Tichenor,"D.Keuchel (4-20-L), R.López (3), J.Ruiz (1), M..."
44,45,45,45,May 28,NaN,CHC,"L,1-5",9.0,10,5,...,2,0,1,0,0,0,1,4,Nestor Ceja,"J.Cueto (5-35-L), B.Sousa (1), M.Foster (1), J..."
45,46,46,46,May 29,NaN,CHC,"W,5-4",12.0,5,4,...,1,0,1,2,1,1,2,6,Ted Barrett,"D.Cease (4-72), K.Graveman (3), L.Hendriks (3)..."
46,47,47,47,May 31,@,TOR,"L,5-6",8.0,12,6,...,4,0,0,0,0,0,0,4,Adrian Johnson,"L.Giolito (5-30-L), R.López (1), A.Bummer (1),..."
47,49,48,48,Jun 1,@,TOR,"L,3-7",8.0,10,7,...,3,0,0,0,0,0,0,5,Erich Bacchus,"M.Kopech (9-27-L), K.Crick (0), M.Foster (2), ..."
48,50,49,49,Jun 2,@,TOR,"L,3-8",8.0,12,8,...,6,0,0,0,0,0,1,5,Ryan Blakney,"J.Cueto (4-49-L), T.Banks (6), R.López (1), A...."
49,51,50,50,Jun 3,@,TBR,"L,3-6",8.0,8,6,...,2,0,0,0,1,0,0,4,Hunter Wendelstedt,"D.Martin (16-40-L), B.Sousa (1), M.Foster (1),..."

In [15]:
for i in range(len(win_team_batting_dataframes)):
    try:
        win_team_batting_dataframes[i][0] = win_team_batting_dataframes[i][0].drop(columns=['index'])
        win_team_batting_dataframes[i][0] = win_team_batting_dataframes[i][0].drop(columns=['level_0', 'Gtm'])
        win_team_pitching_dataframes[i][1] = win_team_pitching_dataframes[i][1].drop(columns=['index', 'Gtm', 'Umpire'])
        ru_team_batting_dataframes[i][0] = ru_team_batting_dataframes[i][0].drop(columns=['index', 'Gtm'])
        ru_team_pitching_dataframes[i][1] = ru_team_pitching_dataframes[i][1].drop(columns=['index', 'Gtm', 'Umpire'])
        
        mid_team1_batting_df[i][0] = mid_team1_batting_df[i][0].drop(columns=['index'])
        mid_team1_batting_df[i][0] = mid_team1_batting_df[i][0].drop(columns=['level_0', 'Gtm'])
        mid_team1_pitching_df[i][1] = mid_team1_pitching_df[i][1].drop(columns=['index', 'Gtm', 'Umpire'])
        mid_team2_batting_df[i][0] = mid_team2_batting_df[i][0].drop(columns=['index', 'Gtm'])
        mid_team2_pitching_df[i][1] = mid_team2_pitching_df[i][1].drop(columns=['index', 'Gtm', 'Umpire'])
        
        worst_team1_batting_df[i][0] = worst_team1_batting_df[i][0].drop(columns=['index'])
        worst_team1_batting_df[i][0] = worst_team1_batting_df[i][0].drop(columns=['level_0', 'Gtm'])
        worst_team1_pitching_df[i][1] = worst_team1_pitching_df[i][1].drop(columns=['index', 'Gtm', 'Umpire'])
        worst_team2_batting_df[i][0] = worst_team2_batting_df[i][0].drop(columns=['index', 'Gtm'])
        worst_team2_pitching_df[i][1] = worst_team2_pitching_df[i][1].drop(columns=['index', 'Gtm', 'Umpire'])
    except:
        pass
    
    win_team_batting_dataframes[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']] = win_team_batting_dataframes[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']].apply(pd.to_numeric)
    win_team_pitching_dataframes[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']] = win_team_pitching_dataframes[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']].apply(pd.to_numeric)
    ru_team_batting_dataframes[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']] = ru_team_batting_dataframes[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']].apply(pd.to_numeric)
    ru_team_pitching_dataframes[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']] = ru_team_pitching_dataframes[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']].apply(pd.to_numeric)
    
    mid_team1_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']] = mid_team1_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']].apply(pd.to_numeric)
    mid_team1_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']] = mid_team1_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']].apply(pd.to_numeric)
    mid_team2_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']] = mid_team2_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']].apply(pd.to_numeric)
    mid_team2_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']] = mid_team2_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']].apply(pd.to_numeric)
    
    worst_team1_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']] = worst_team1_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']].apply(pd.to_numeric)
    worst_team1_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']] = worst_team1_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']].apply(pd.to_numeric)
    worst_team2_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']] = worst_team2_batting_df[i][0][['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'LOB', '#']].apply(pd.to_numeric)
    worst_team2_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']] = worst_team2_pitching_df[i][1][['Rk', 'IP', 'H', 'R', 'ER', 'UER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF', 'Pit', 'Str', 'IR', 'IS', 'SB', 'CS', 'AB', '2B', '3B', 'IBB', 'SH', 'SF', 'ROE', 'GDP', '#']].apply(pd.to_numeric)

In [16]:
print(type(mid_team1_batting_df[0][0]['BA'][1]))
mid_team1_batting_df[0][0]

<class 'numpy.float64'>

,index,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,PA,AB,R,...,SB,CS,BA,OBP,SLG,OPS,LOB,#,Thr,Opp. Starter (GmeSc)
0,0,1,1,Apr 8,@,DET,"L,4-5",37,34,4,...,0,0,0.235,0.297,0.412,0.709,6,9,L,E.Rodriguez(42)
1,1,2,2,Apr 9,@,DET,"W,5-2",37,36,5,...,1,0,0.257,0.288,0.443,0.731,5,11,R,C.Mize(39)
2,2,3,3,Apr 10,@,DET,"W,10-1",43,39,10,...,1,0,0.284,0.319,0.477,0.796,6,9,L,T.Skubal(32)
3,3,4,4,Apr 12,NaN,SEA,"W,3-2",33,30,3,...,2,0,0.266,0.309,0.439,0.748,6,11,R,M.Brash(57)
4,4,5,5,Apr 13,NaN,SEA,"W,6-4",36,32,6,...,0,0,0.275,0.324,0.474,0.798,6,11,L,R.Ray(31)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,162,158,158,Oct 1,@,SDP,"L,2-5",32,31,2,...,1,0,0.257,0.312,0.388,0.700,3,12,R,M.Clevinger(65)
158,163,159,159,Oct 2,@,SDP,"W,2-1",35,32,2,...,1,0,0.256,0.311,0.388,0.699,6,10,L,B.Snell(67)
159,164,160,160,Oct 3,NaN,MIN,"W,3-2",31,30,3,...,1,0,0.256,0.311,0.387,0.698,4,9,R,B.Ober(58)
160,165,161,161,Oct 4,NaN,MIN,"W,8-3",34,32,8,...,1,0,0.256,0.311,0.388,0.698,2,9,R,J.Winder(32)
161,166,162,162,Oct 5,NaN,MIN,"L,1-10",38,35,1,...,0,0,0.256,0.310,0.387,0.698,10,9,R,L.Varland(64)

### Save Data

In [17]:
for i in range(len(win_team_batting_dataframes)):
    win_team_batting_dataframes[i][0].to_json(f'winning_team_batting_{world_series_winner[i]}_{years[i]}')
    win_team_batting_dataframes[i][0].to_csv(f'winning_team_batting_{world_series_winner[i]}_{years[i]}')
    win_team_pitching_dataframes[i][1].to_json(f'winning_team_pitching_{world_series_winner[i]}_{years[i]}')
    win_team_pitching_dataframes[i][1].to_csv(f'winning_team_pitching_{world_series_winner[i]}_{years[i]}')
    
    ru_team_batting_dataframes[i][0].to_json(f'runn_up_team_batting_{world_series_ru[i]}_{years[i]}')
    ru_team_batting_dataframes[i][0].to_csv(f'runn_up_team_batting_{world_series_ru[i]}_{years[i]}')
    ru_team_pitching_dataframes[i][1].to_json(f'runn_up_team_pitching_{world_series_ru[i]}_{years[i]}')
    ru_team_pitching_dataframes[i][1].to_csv(f'runn_up_team_pitching_{world_series_ru[i]}_{years[i]}')
    
    mid_team1_batting_df[i][0].to_json(f'mid_team1_batting_{mid_teams1[i]}_{years[i]}')
    mid_team1_batting_df[i][0].to_csv(f'mid_team1_batting_{mid_teams1[i]}_{years[i]}')
    mid_team1_pitching_df[i][1].to_json(f'mid_team1_pitching_{mid_teams1[i]}_{years[i]}')
    mid_team1_pitching_df[i][1].to_csv(f'mid_team1_pitching_{mid_teams1[i]}_{years[i]}')
    
    mid_team2_batting_df[i][0].to_json(f'mid_team2_batting_{mid_teams2[i]}_{years[i]}')
    mid_team2_batting_df[i][0].to_csv(f'mid_team2_batting_{mid_teams2[i]}_{years[i]}')
    mid_team2_pitching_df[i][1].to_json(f'mid_team2_pitching_{mid_teams2[i]}_{years[i]}')
    mid_team2_pitching_df[i][1].to_csv(f'mid_team2_pitching_{mid_teams2[i]}_{years[i]}')
    
    worst_team1_batting_df[i][0].to_json(f'worst_team1_batting_{worst_teams1[i]}_{years[i]}')
    worst_team1_batting_df[i][0].to_csv(f'worst_team1_batting_{worst_teams1[i]}_{years[i]}')
    worst_team1_pitching_df[i][1].to_json(f'worst_team1_pitching_{worst_teams1[i]}_{years[i]}')
    worst_team1_pitching_df[i][1].to_csv(f'worst_team1_pitching_{worst_teams1[i]}_{years[i]}')
    
    worst_team2_batting_df[i][0].to_json(f'worst_team2_batting_{worst_teams2[i]}_{years[i]}')
    worst_team2_batting_df[i][0].to_csv(f'worst_team2_batting_{worst_teams2[i]}_{years[i]}')
    worst_team2_pitching_df[i][1].to_json(f'worst_team2_pitching_{worst_teams2[i]}_{years[i]}')
    worst_team2_pitching_df[i][1].to_csv(f'worst_team2_pitching_{worst_teams2[i]}_{years[i]}')